rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Everything is scoped to a particular user.
    match /users/{uid} {
      function owner() {
        return request.auth.uid == uid;
      }

      // Anyone can read public docs, but only owners can write.
      match /public {
        match /{path=**} {
          allow read: if true;
        }
        match /studios/{sid} {
          allow write: if owner();
        }
      }

      // Only owners can read or write private docs.
      match /private {
        match /{path=**} {
          allow read: if owner();
        }
        match /studios/{sid} {
          allow write: if owner();
        }
      }
    }
  }
}