rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Everything is scoped to a particular user.
    match /users/{uid} {
      function thumbnail() {
        return request.resource.size < 1 * 1024 * 1024
          && request.resource.contentType.matches('image/png');
      }

      function owner() {
        return request.auth.uid == uid;
      }

      // Anyone can read public assets, but only owners can write.
      match /public {
        match /{path=**} {
          allow read: if true;
        }
        match /documents/{sid} {
          match /thumbnails/{id} {
            allow write: if owner() && thumbnail();
          }
        }
      }

      // Only owners can read or write private assets.
      match /private {
        match /{path=**} {
          allow read: if owner();
        }
        match /documents/{sid} {
          match /thumbnails/{id} {
            allow write: if owner() && thumbnail();
          }
        }
      }
    }
  }
}
